aiohttp
aiofiles
asyncio
ffmpeg-python
pillow
Pyrogram==1.4.8
hachoir
lyricsgenius
py-tgcalls
wget
python-dotenv
pyyaml==5.4
youtube-search-python
youtube-search
speedtest-cli
motor
psutil
requests
rich
dnspython
yt-dlp==2021.11.10.1
tgcrypto
gitpython
heroku3
spotipy
bs4
html5lib
numpy

